<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Huffman Encoding</title>
</head>
<body>

<header>
    <h1>Huffman Encoding</h1>
</header>

<nav>
    <a th:href="@{/index}">Home</a>
    <a th:href="@{/encoding}">Encode</a>
    <a th:href="@{/status}">Status</a>
</nav>

<main>
    <p>Huffman Coding (also known as Huffman Encoding)<br />
        is a algorithm for doing data compression and it<br />
        forms the basic idea behind file compression.<br />
        This post talks about fixed length and variable length encoding,<br />
        uniquely decodable codes, prefix rules and construction of Huffman Tree.</p>
</main>

<footer>
    <small>Richard 517021910158 Assignment of SE418</small>
</footer>

</body>
</html>